//----------LOGIN PAGE----------//
html, body, .container {
            height: 100%;
            width: 100%;
        }
        .container {
            display: table;
            vertical-align: middle;
        }
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .vertical-center-row {
            display: table-cell;
            vertical-align: middle;
        }
        .vs-screen-bg {
            background-color: #313E4B;
        }

        //----------LOGIN----------//
        .login {

            //----------LOGIN-LEFT----------//
            .login-left {
                .image {
                    h1 {
                        color: #808B9C;
                    }
                    a:hover {
                        text-decoration: none;
                    }
                }
                h6 {
                    color: #48CFAD;
                }
                small {
                    color: #eaeaea;
                }
                .button-register {
                    background-color: #48CFAD;
                    border-color: #48CFAD;
                    color: #fff;
                    padding: 30px 20px;
                }
                .button-register:hover {
                    background-color: #7fddc5;
                    color: #fff;
                }
            }

            //----------LOGIN-RIGHT----------//
            .login-right {
                .login-form {
                    .form-group {
                        i {
                            color: #999999;  
                            padding: 10px;
                            margin: 5px 0px;
                        }
                        margin-bottom: 15px;
                    }
                    .form-checkbox {
                        #show-pass {
                            margin-left: 15px;
                        }
                        span {
                            color: #808B9C;
                        }
                        margin-bottom: 10px;
                    }
                    button {
                        background-color: #48CFAD;
                        border-color: #48CFAD;
                        color: #fff;
                        margin-bottom: 15px;
                    }
                    button:hover {
                        background-color: #7fddc5;
                    }
                    .footer-form {
                        p {
                            font-size: 10px;
                            color: #808B9C;
                            margin-top: 10px;
                        }
                    }
                }
                background-color: #eaeaea;
                padding: 15px;
                border-radius: 5px;
            }
            .login-right::before {
                content: "";
            position: absolute;
            top: 9%;
            left: -4%;
            margin-left: -5px;
            border-width: 15px;
            border-style: solid;
            border-color: transparent #eaeaea transparent transparent;
            }
        }