//----------NEW-USER----------//
.content-new-user {
  .new-user {
    .header-new-user {
      h3 {
        color: #fff;
        margin: 0px;
      }
      padding: 15px 20px;
      border: 1px solid rgba(72, 207, 173, .7);
      background-color: rgba(72, 207, 173, .7);
      margin-bottom: 30px;
    }
    .body-new-user {
      .picture {
        .image {
          border: 1px solid black;
          width: 250px;
          height: 200px;
          margin-bottom: 15px;
        }
      }
      overflow: hidden;
    }
    background-color: #fff;
  }
}