//----------CONTENT-POST----------//
  .content-post {
    .menu-post {
      .pull-left, .pull-right {
        padding: 0px;
      }
      .pull-left {
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
          span {
            color: #808b9c;
          }
          border: 1px solid #48CFAD;
          background-color: #48CFAD;
          color: #fff;
        }
        a {
          color: #808b9c;
        }
        a:hover {
          span {
            background-color: #fff;
            color: #808b9c;
          }
          color: #fff;
          border: 1px solid #48CFAD;
          background-color: #48CFAD;
        }
      }
      padding: 0px;
      margin-bottom: 10px;
    }
    .filter-post, .total-post {
      .selectpicker {
        option {
          padding: 2px 5px;
        }
        padding: 2px 5px;
        border: 1px solid #939393;
        border-radius: 3px;
        color: #808b9c;
      }
      button {
        padding: 4px 6px;
        color: #fff;
        border: 1px solid #48CFAD;
        background-color: #48CFAD;
      }
      button:hover {
        background-color: rgba(72, 207, 173, .7);
      }
      .action, .type {
        td {
          padding-right: 5px;
        }
        padding: 0px;
      }
      .search {
        .input-group {
          button {
            padding: 6px 10px;
          }
        }
        margin-bottom: 0px;
        padding: 0px;
      }
      padding: 0px;
      margin-bottom: 10px;
    }
    .list-post {
      table {
        td, th {
          padding: 10px;
        }
        .ganjil {
          background-color: #fff;
          color: #808b9c;
        }
        .genap {
          background-color: #48CFAD;
          color: #fff;
        }
        background-color: #fff;
      }
      table:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
      }
      p {
        margin: 0px;
      }
      border: 1px solid #EAEAEA;
      padding: 0px;
      margin-bottom: 10px;
    }
    .total-post {
      td {
        padding-right: 10px;
      }
      p, i {
        margin: 0px;
        color: #808b9c;
      }
      a {
        color: #808b9c;
        padding: 4px 6px;
        border-radius: 4px;
      }
      a:hover {
        text-decoration: none;
        background-color: #48CFAD;
        color: #fff;
      }
    }
    display: inline-block;
    width: 100%;
  }
